body { font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif; margin: 24px; }
input, button { font-size: 16px; padding: 10px 12px; }
.row { display: flex; gap: 10px; flex-wrap: wrap; align-items: center; }

pre {
    background: #111;
    color: #eee;
    padding: 12px;
    border-radius: 10px;
    overflow: auto;
    white-space: pre-wrap;
    word-break: break-word;
    font-size: 30px;
    font-weight: bold;
}

.digits {
    letter-spacing: 0.2em;
    font-size: 50px;
}

.small { color: #555; }

pre mark {
    background: #ffd54a;
    color: #000;
    padding: 0 2px;
}

#top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    height: 40px;
    width: 110px;
    border-radius: 10px;
    background-color: lightblue;
    cursor: pointer;
}